name: Release Cloudflow Contrib

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: Release
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Fetch tags
        run: git fetch --depth=100 origin +refs/tags/*:refs/tags/*

      - name: Set up JDK 11
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11.0-9

      - name: Cache Coursier cache
        uses: coursier/cache-action@v5

      - name: Setup gpg
        uses: olafurpg/setup-gpg@v3

      - name: Release
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        run: |-
          sbt ci-release
      - name: FOSSA policy check
        run: |-
          curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/fossa-cli/master/install-v1.sh | bash
          fossa analyze && fossa test
        env:
          FOSSA_API_KEY: "${{secrets.FOSSA_API_KEY}}"
      - name: Update docs
        run: |-
          sudo snap install yq
          cd docs
          make set-antora-versions
          make html
          make all_scaladocs
          make gh-pages
# TODO ensure this is ignored on RC releases.
#          git clone --branch gh-pages git@github.com:lightbend/cloudflow-contrib.git cloudflow-contrib-ghpages
#          rm -rf cloudflow-contrib-ghpages/*
#          cp -r target/* cloudflow-contrib-ghpages
#          cd cloudflow-contrib-ghpages
#          git add .
#          git commit --allow-empty -m "update"
#          git push
