name: Release Cloudflow Contrib

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    name: Release
    runs-on: ubuntu-18.04

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Fetch tags
        run: git fetch --depth=100 origin +refs/tags/*:refs/tags/*

      - name: Set up JDK 11
        uses: olafurpg/setup-scala@v10
        with:
          java-version: adopt@1.11.0-9

      - name: Cache Coursier cache
        uses: coursier/cache-action@v5

      - name: Setup gpg
        uses: olafurpg/setup-gpg@v3

      # Set the release version
      # https://stackoverflow.com/a/58178121
      - name: Set output
        id: vars
        run: echo ::set-output name=tag::${GITHUB_REF#refs/*/}

      - name: Release
        env:
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        run: |-
          sbt ci-release

      - name: FOSSA policy check
        run: |-
          curl -H 'Cache-Control: no-cache' https://raw.githubusercontent.com/fossas/spectrometer/master/install.sh | bash
          fossa analyze && fossa test
        env:
          FOSSA_API_KEY: "${{secrets.FOSSA_API_KEY}}"

      - name: Update docs
        run: |-
          sudo snap install yq
          cd docs
          make set-antora-versions
          make html
          make all_scaladocs
          make gh-pages
# TODO ensure this is ignored on RC releases.
#          git clone --branch gh-pages git@github.com:lightbend/cloudflow-contrib.git cloudflow-contrib-ghpages
#          rm -rf cloudflow-contrib-ghpages/*
#          cp -r target/* cloudflow-contrib-ghpages
#          cd cloudflow-contrib-ghpages
#          git add .
#          git commit --allow-empty -m "update"
#          git push

      - name: Trigger integration tests

        env:
          RELEASE_VERSION: ${{ steps.vars.outputs.tag }}
          # TODO maybe update to use GITHUB_TOKEN
          GIT_KEY: ${{ secrets.GIT_KEY }}
        run: |
          mkdir -p ~/.ssh/
          ssh-keyscan github.com >> ~/.ssh/known_hosts
          echo "$GIT_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          git config --global user.email "cloudflow@lightbend.com"
          git config --global user.name "Cloudflow @Lightbend"
          
          rm -rf cloudflow-contrib          
          git clone git@github.com:lightbend/cloudflow-contrib.git
          cd cloudflow-contrib
          git fetch origin "+refs/tags/*:refs/tags/*"
          export CLOUDFLOW_CONTRIB_VERSION=$RELEASE_VERSION
          echo $CLOUDFLOW_CONTRIB_VERSION
          git tag cloudflow_contrib_it_${CLOUDFLOW_CONTRIB_VERSION}
          git push origin cloudflow_contrib_it_${CLOUDFLOW_CONTRIB_VERSION}
